
$bleu-icd: rgb(33, 116, 185);
$bleu-secondaire: rgb(128, 159, 184);
$noir-light: rgb(80, 80, 80);
$gris: rgb(184, 184, 184);
$gris-bleu: rgb(217, 225, 231);
$gris-fond: rgb(241, 244, 249);
$vert: rgb(0, 184, 148);
$rouge: rgb(238, 90, 90);
$violet: rgb(194, 150, 218);
$vert-fond: #55efc4;
$background-color: rgb(240, 248, 255);
