@import "colors";

$fontColor: rgb(33, 116, 185);
$fontsize: 20px;
$fontFamily: "Roboto Medium", "Roboto Regular", Roboto, sans-serif;
$iceBlue: rgb(33, 116, 185);
$iconMenuSize: 18px;

//toogle switch
$toggle-active-color: $vert;
$toggle-inactive-color: $gris;
