@import "@/assets/scss/global.scss";

.error {
  @apply text-[color:var(--colors-secondary-5)] text-xs;
}

.app {
  @apply flex items-center justify-center flex-col h-full bg-slate-500;
  label {
    @apply text-sm;
  }
  .app-form {
    @apply w-1/2 p-10 bg-[var(--background-color-modal)]  rounded-md;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    input[type="text"],
    input[type="password"] {
      @apply h-8 rounded-sm p-2 text-sm;
      border: 1px solid rgba(61, 59, 59, 0.2);
    }

    input[type="submit"] {
      @apply cursor-pointer text-white text-sm mt-5 w-28 ml-auto;
      background: var(--color-princ);
      border: 1px solid --color-princ;
      padding: 10px 20px;

      &:hover {
        background: var(--color-sec);
      }
    }
  }
}

.upcoming {
  color: var(--label-state-upcoming) !important;
}
